* {
    /* Reset */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Color palette */
    --color-eggshell: #FAF3DD;
    --color-oxford-blue: #0A2342;
    --color-feldgrau: #5B6C5D;
    --color-verdigris: #5CA4A9;
    --color-cocoa-brown: #D16014;
}


/* Semantic Tags */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--color-oxford-blue);
    background-color: var(--color-verdigris);
    font-family: 'Ubuntu', sans-serif;
}

header {
    position: relative;
    padding: 1rem;
    margin: 1rem 2rem;
    border-radius: 30px;
    background-color: var(--color-eggshell);
    text-align: center;
}

button {
    background-color: var(--color-cocoa-brown);
    border: 2px solid var(--color-oxford-blue);
    border-radius: 20px;
    padding: 0.35rem 1rem;
    color: var(--color-oxford-blue);
}

button:hover {
    background-color: var(--color-oxford-blue);
    color: var(--color-eggshell);
    cursor: pointer;
}

main {
    margin: 0rem 1rem;
    border-radius: 5px;
    background-color: var(--color-feldgrau);
    text-align: center;
    color: var(--color-eggshell);
    padding: 1rem 0;
}

footer {
    margin-top: auto;
    font-size: small;
}


/* Utility classes */
.row-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.row-list>li {
    list-style: none;
}

.menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
}