/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Color palette */
    --color-eggshell:       #FAF3DD;
    --color-oxford-blue:    #0A2342;
    --color-feldgrau:       #5B6C5D;
    --color-verdigris:      #5CA4A9;
    --color-cocoa-brown:    #D16014;

    font-family: 'Ubuntu', sans-serif;
    color: var(--color-oxford-blue);
}

body {
    min-height: 100vh;
    max-height: 100vh;
    padding: 10vh 0;
    background-color: var(--color-verdigris);

    display: flex;
    flex-direction: row;
    gap: 1em;
}

.center-frame {
    height: inherit;
    flex: 1;

    display: flex;
    flex-direction: row;
    gap: 0.35em;
}

.side-frame {
    width: 10vw;
    height: inherit;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fixed-card {
    border-radius: 40px;
    background-color: var(--color-eggshell);
    text-align: center;
    flex: initial;

    display: flex;
    flex-direction: column;
}

.fixed-card > header {
    padding: 2em;
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.fixed-card > footer {
    flex: initial;
    padding: 1em;
}

.headshot {
    padding: 1em;
}

.button {
    margin: 0 auto;
    padding: 0.5em 1em;
    border: 2px solid var(--color-oxford-blue);
    border-radius: 20px;
    background-color: var(--color-cocoa-brown);
}

.button:link {
    color: var(--color-eggshell);
    text-decoration: none;
}

.button:visited {
    color: var(--color-oxford-blue);
}

.button:hover {
    color: var(--color-eggshell);
    background-color: var(--color-oxford-blue);
}

.mutable-card {
    padding: 2em;
    overflow-y: auto;
    color: var(--color-eggshell);
    background-color: var(--color-feldgrau);
    border-radius: 15px;
    flex: 1;
}

.default-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon-list {
    list-style: none;
}

.vert-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0.75em;
}

.sidebar > nav {
    width: 40px;
    padding: 1em 0;
    border: 1px solid var(--color-oxford-blue);
    border-radius: 20px;
    background-color: var(--color-eggshell);
}

.turn-page {
    margin-top: auto;
}

.socials {
    width: 10em;
    margin: 1em auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container {
    width: 100%;
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#email:hover {
    cursor: pointer;
}

.sidebar nav li:hover {
    cursor: pointer;
}