* {
    /* Reset */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Color palette */
    --color-eggshell:       #FAF3DD;
    --color-oxford-blue:    #0A2342;
    --color-feldgrau:       #5B6C5D;
    --color-verdigris:      #5CA4A9;
    --color-cocoa-brown:    #D16014;
}